section {
  display: flex;
  padding: 60px;
  align-items: center;
}

p {
  margin: 0;
}

img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 6px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}
